.block-container {
  background-color: rgb(32, 32, 45);
  border-radius: 10px;
  box-shadow: 2px 2px 2px black;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.hook-showcase {
  width: 50%;
  height: 170px;
  border: 2px solid #7474fc;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
