:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --dark-theme-color: white;
  --default-theme-color: rgb(35, 39, 47);
}

[data-theme='dark'] {
  --theme-color: var(--dark-theme-color);
  --accent-color: black;
}

[data-theme='default'] {
  --theme-color: var(--default-theme-color);
  --accent-color: white;
}

* {
  box-sizing: border-box;
  /* border: 1px solid pink; */
}

body {
  max-width: 1920px;
  margin: 0;
  background-color: var(--theme-color);
  color: var(--accent-color);
}

h1,
p,
ul {
  margin: 0;
  padding: 0;
}
